<!DOCTYPE html>
<html>
<head>
  <title>Notebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="container">
      <%= link_to("Notebook", root_path, :class => "navbar-brand") %>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  <footer>
    <div class="container">
      <%= link_to("Created By", "www.linkedin.com/in/stevewitman/") %>
    </div>
  </footer>
</body>
</html>
